/** 
Estilos generales para toda la pagina 
*******************************************************************************/
* {
    margin: 0;
    padding: 0;
}

.texto{
    text-align: justify;
}

/** 
Estilos para el formulario de contacto del frontend 
*******************************************************************************/
#form_contacto_frontend{
    width: 80%;
}

.label_contacto{
    display: block;
    font-size: 110%;
    color: #39f;
    text-align: left;
    font-weight: bold;
}

.input_contacto{
    clear: both;
    font-size: 140%;
    font-family: Tahoma, Geneva, sans-serif;
    padding: 1%;
    width:98%;
    background-color:#ccc;
    border: 0px;
    margin-bottom: 10px;
}

.form-error{
    border: 1px red dotted;
    background-color: papayawhip;
}

.error-message {
    display:none;
}

/** 
Estilos para el backend 
*******************************************************************************/
#form_login_wraper{
    width: 100%;
    padding-left: 250px;
    padding-top: 100px;
}

.contenedor_form_login{
    width: 400px;
    background: lightgrey;
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 20px;
}

.label_form_backend_login{
    display: block;
    font-size: 110%;
    color: #39f;
    text-align: left;
    font-weight: bold;
}

.input_form_backend_login{
    clear: both;
    font-size: 140%;
    font-family: Tahoma, Geneva, sans-serif;
    padding: 1%;
    width: 320px;
    border: 0px;
    margin-bottom: 10px;
}

#seccion_wraper_backend{
    width: 100%;
}

#titulo_seccion_backend{
    margin-bottom: 20px;
}

#contenedor_acciones_seccion{
    list-style-type: none;
    margin-bottom: 20px;
}

#acciones_seccion li{
    float: left;
}

#contenedor_lista_index{
    width: 90%;
}

#contenedor_lista_index th{
    text-align: left;
}

#paginacion{
    padding-top: 20px;
}

.contenedor_form_backend{
    width: 100%;
    background: lightgrey;
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 20px;
}

.label_form_backend_secciones{
    display: block;
    font-size: 110%;
    color: #39f;
    text-align: left;
    font-weight: bold;
}

.input_form_backend_secciones{
    clear: both;
    font-size: 140%;
    font-family: "lucida grande", "verdana", sans-serif;
    padding: 1%;
    width: 80%;
    border: 0px;
    margin-bottom: 10px;
}

.menu_admin{
    margin-top: 20px;
    list-style-type: none;
}

.menu_item{
    display: inline;
}

a{outline:none;}

/** 
Estilos para la lista de productos que pertenecen e una linea del frontend 
*******************************************************************************/
.imagen_producto{
    
}

.nombre_producto{
	font-family:Tahoma, Geneva, sans-serif;
	font-weight: bold;
	font-size:24px;
	text-align:justify;
	color: #036;    
}

.titulo_descripcion{
    font-family: Tahoma, Geneva, sans-serif;
	font-weight:lighter;
	font-size:18px;
	text-align:justify;
	color: #2FCAFD; 
}

.descripcion_producto{
    font-family:Tahoma, Geneva, sans-serif;
	font-weight:normal;
	font-size:14px;
	text-align:justify;
	color: #333; 
}

.mas_informacion{
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:normal;
	font-size:14px;
	text-align:right;
	color: #06F;     
}

.registro_producto{
    font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
	font-size:13px;
	text-align:left;
	color:#333;  
}

.slogan_producto{
   font-weight:bold;
   font-size:13px;
   text-align:right;
   color:#333; 
}

.informacion_producto{
    font-family:Tahoma, Geneva, sans-serif;
	font-weight:normal;
	font-size:14px;
	text-align:justify;
	color:#333; 
}